{% extends "base.html" %}
{% block title %} Concatenar tabelas {% endblock %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>


<div class="container">
    <div class="row">
        <div class="col md-12 text-center">
            <div class="p-4">
                <h2><span class="glyphicon glyphicon-th-large"></span> Concatenar tabelas</h2>
                <p>Selecione dois arquivos csv para realizar a contatenação. A ordem dos arquivos varia conforme se deseja a ordem da concatenação. Por exemplo, caso deseje adicionar as linhas de um arquivo no fim da linha do outro arquivo, coloque o arquivo atual no arquivo 1 e novo arquivo no arquivo 2.</p>
            </div>
            <!-- FORMULÁRIO DE ENVIO DE ARQUIVOS -->
            <!--<form id="uploadImage" action="/upload" enctype="multipart/form-data" method="post">-->
            <form id="uploadImage" action="{{url_for('concatenar_tabela.upload')}}" enctype="multipart/form-data" method="POST">
                {{ formulario.hidden_tag() }}
                <table class="table">
                    <tr>
                        <td style="width: 50%">{{formulario.arquivo1.label}}{{formulario.arquivo1(class="filestyle",id="file1")}}</td>
                        <td style="width: 50%">{{formulario.arquivo2.label}}{{formulario.arquivo2(class="filestyle",id="file2")}}</td>
                    </tr>
                </table>


                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <div id="targetLayer" style="display:none;"></div>

                <p>
                    {{formulario.submit(class='btn btn-primary',id='uploadSubmit')}}
                   
                </p>

            </form>

            <div id="loader-icon" style="display:none;"><img src="/static/fonts/giphy.gif" /></div>

        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    // Verifica se a página foi recarregada. Se sim, limpa os inputs
    if ( performance.navigation.type = performance.navigation.TYPE_RELOAD ){
        file1.value = null;
        file2.value = null;
    }

    // Animação durante a concatenação de arquivo
    $('#uploadImage').submit(function(event){
        if(!$('#file1').val()){
            event.preventDefault();
            alert('Selecione o arquivo 1');
        }
        else if(!$('#file2').val()){
            event.preventDefault();
            alert('Selecione o arquivo 2');
        }
        else{
            //alert('Ambos os arquivos foram selecionados.');
            event.preventDefault();
            $('#loader-icon').show();
            $('#targetLayer').hide();
            $(this).ajaxSubmit({
                
               target: '#targetLayer',
                beforeSubmit: function(){
                    $('.progress-bar').width('50%');
                },
                uploadProgress: function(event, position, total, percentageComplete)
                {
                    $('.progress-bar').animate({
                        width: percentageComplete + '%'
                    }, {
                        duration: 1000
                    });
                    $('#loader-icon').show();
                },
                success: function(data){
                    $('#loader-icon').hide();
                    $('#targetLayer').show();
                    $('#targetLayer').append(data.htmlresponse);
                    $('#uploadSubmit').hide();
                    $('.table').hide();
                    $("#Baixar").click(function(){
                        $('p').hide('slow');
                        $("#Baixar").hide("slow", function(){
                            $('h2').html('<b>Download Iniciado</b>');
                            //window.location.reload(2);
                            setTimeout(function() {
                                window.location.reload(2);
                                }, 2500);
                            
                          });
                    });
                },
                resetForm: true
            });
        }
        return false;
    });
    
   
});
</script>


{% endblock %}
