{% extends "base.html" %}
{% block title %} Conversor PDF para TXT {% endblock %}
{% block content %}
  <link rel="stylesheet" href="../static/css/style_conversor.css">  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

  <title>Download arquivo</title>


     <!-- Faz o download do arquivo convertido -->
  <div class="div-format"> 
    <div class="div-container"> 
      <h2> Arquivo convertido com sucesso! </h2>
      {% if arquivo_convertido %}
      <a href="{{ url_for('conversor.download_txt', file=arquivo_convertido) }}" download> <button class="btn-download"> Download </button> </a>
      {% endif %}
    </div>
  </div>
<script>

    $("button").click(function(){
      $("button").hide("slow", function(){
          //alert("Download Realizado");
          $('h2').text('Download Iniciado')
          setTimeout(function() {
            window.location.href = 'http://127.0.0.1:5000/conversor/';
            }, 2500);
          
        });
  });
</script>
  {% endblock %}